@charset "utf-8";
.imgs{height:420px;position: relative;overflow: hidden;
    ul{
        position: relative;
        overflow:hidden;
        height:420px;
        li{
            float: left;
            opacity: 1;
            position: absolute;
            left:50%;
            margin-left:-960px;
        }
        li:nth-of-type(1){ 
            z-index: 2;
        }
        li:nth-of-type(2){
            z-index: 1;
        }
    }
    ol{
        position: absolute;
        bottom: 10px;
        width: 100%;
        z-index:2;
        text-align: center;
        li{
            display: inline-block;
            width:14px;
            height:14px;
            background:#000;
            margin:0 5px;           
        }
        li:nth-of-type(1){ 
            background: url(../image/dot.png) no-repeat 0 0;
        }
        li:nth-of-type(2){
            background: url(../image/dot.png) no-repeat right 0;
        }
    }
}
.com1{
    margin:0 auto;padding-top:18px;width:1180px;height:210px;overflow: hidden;
    .com1left{
        float:left;
        padding: 4px;
        width: 310px;
        height: 200px;
        line-height: 22px;
        text-align: center;
        border: 1px solid #DDDDDD;
        overflow: hidden;
        a{color: #222222;
            &:hover{color: #DB3962;}
        }
    }
    .com1cen{
        float: left;
        margin-left: 15px;
        padding: 4px;
        width: 500px;
        height: 200px;
        line-height: 22px;
        text-align: center;
        border: 1px solid #DDDDDD;
        overflow: hidden;
        a{color: #222222;
            &:hover{color: #DB3962;}
        }
    }
    .com1right{
        float: left;
        margin-left: 15px;
        padding: 4px;
        width: 310px;
        height: 200px;
        line-height: 22px;
        text-align: center;
        border: 1px solid #DDDDDD;
        overflow: hidden;
        a{color: #222222;
            &:hover{color: #DB3962;}
            }
    }
}
.line1{
    clear: both;
    margin: 0 auto;
    width: 1180px;
    height: 18px;
    background: url(../image/line.jpg);
}
.com2{
    margin: 0 auto;
    width: 1180px;
    height: 159px;
    overflow: hidden;
    border: 1px solid #dddddd;
    background: #f9f9f9;
    .com2left{
        width: 616px;
        height: 159px;
        float: left;
            img{
                margin-top: 20px;
                margin-left: 15px;
            }
    }
    .com2right{
        width: 562px;
        height: 159px;
        float: left;
        background: url(../image/bg.png);
        input{
            width: 40px;
            height: 15px;
            padding: 1px 0px;
            font: 400 13.3333px Arial;
            outline: none;
        }
        .com21{
            margin-top: 20px;
            float: left;
            width: 215px;
            height: 33px;
            .cominp1{
                float: left;
                width: 50px;
                height: 33px;
                margin-left: 70px;
                margin-top: 5px;

            }
            .inputline{
                float: left;
                width: 20px;
                height: 33px;
                line-height: 30px;
            }
            .cominp2{
                float: left;
                width: 50px;
                height: 33px;
                margin-top: 5px;
            }
            .inputtxt{
                height: 33px;
                line-height: 30px;
            }
        }
        .com22{
            margin-top: 22px;
            margin-left: 76px;
            float: left;
            height: 33px;
            .comimg{
                cursor: pointer;
                float: left;
                padding: 0 3px;
                height: 24px;
                img{
                    margin-top: 3px;
                }
            }
        }
        .com23{
            float: left;
            margin-left: 70px;
            margin-top: 13px;
            height: 33px;
            .comimg{
                cursor: pointer;
                float: left;
                padding: 0 3px;
                height: 24px;
                img{
                    margin-top: 3px;
                }
            }
        }
        .com24{
            float: left;
            margin-left: 70px;
            margin-top: 13px;
            height: 33px;
            .comimg{
                cursor: pointer;
                float: left;
                padding: 0 3px;
                height: 24px;
                img{
                    margin-top: 3px;
                }
            }
        }
        .com25{
            float: left;
            margin-left: 370px;
            margin-top: 5px;
            height: 33px;

        }



    }
}
.com3{
    clear: both;
    margin: 0 auto;
    width: 1180px;
    height: 429px;
    overflow: hidden;
    .com3left{
        float: left;
        width: 321px;
        height: 429px;
        background: url(../image/1.jpg);
        overflow: hidden;
        .com3lt{
            float: left;
            width: 320px;
            height: 180px;
        }
        .com3lc{
            float:left;
            width:200px;
            height:120px;
            padding:12px 0 5px 0;
            li{
                float: left;
                width: 200px;
                height: 24px;
                line-height: 24px;
                text-indent: 30px;
            }
        }
        .com3lb{
            float: left;
            width: 200px;
            height: 100px;
            li{
                float: left;
                width: 200px;
                height: 24px;
                line-height: 24px;
                text-indent: 30px;
            }
        }
    }
    .com3cen{
        float: left;
        width: 259px;
        height: 429px;
        overflow: hidden;        
    }
    .com3right{
        float: left;
        width: 600px;
        height: 429px;
        overflow: hidden;
        .com3rt{
            float: left;
            width: 600px;
            height: 211px;
            overflow: hidden;
            .com3rt1{
                float: left;
                width: 299px;
                height: 211px;
                overflow: hidden;
            }
            .com3rt2{
                float: left;
                width: 301px;
                height: 211px;
                overflow: hidden;
            }
        }
        .com3rb{
            float: left;
            width: 600px;
            height: 218px;
            overflow: hidden;
            .com3rb1{
                float: left;
                width: 200px;
                height: 218px;
                overflow: hidden;
            }
            .com3rb2{
                float: left;
                width: 195px;
                height: 218px;
                overflow: hidden;
            }
            .com3rb3{
                float: left;
                width: 205px;
                height: 218px;
                overflow: hidden;
            }
        }
    }
}
.com4{
    clear: both;
    margin: 0 auto;
    width: 1180px;
    height: 116px;
    background: #FFFFFF;
    overflow: hidden;
}
.com3 {
    .bgchange{
        background: url(../image/15.jpg);
    }   
}
.com3 {
    .bgchange1{
        background: url(../image/16.jpg);
    }   
}
.com5{
    clear: both;
    margin: 0 auto;
    width: 1180px;
    height: 290px;
    background: #FFFFFF;
    overflow: hidden;
    .com5info{
        float: left;
        margin-right: 10px;
        width: 320px;
        height: 288px;
        border: 1px solid #E3E3E3;
        .com5top{
            float: left;
            width: 320px;
            height: 33px;
            line-height: 33px;
            text-indent: 15px;
            font-weight: bold;
            background: url(../image/headbg.jpg);
        }
        .com5bot{
            float: left;
            padding: 5px;
            width: 310px;
            height: 245px;
            .com5b1{
                float: left;
                width: 310px;
                height: 95px;
            }
            .com5b2{
                float: left;
                margin-top: 10px;
                width: 310px;
                height: 135px;
                li{
                    padding-left: 10px;
                    width: 300px;
                    height: 27px;
                    line-height: 27px;
                    list-style: disc inside;
                }
            }
        }

    }
    .com5img{
        float: left;
        width: 184px;
        height: 290px;
    }
}
.com6{
    margin: 0 auto;
    padding-top: 20px;
    width: 1180px;
    height: 260px;
    .city{
        float: left;
        width: 1180px;
        height: 35px;
        overflow: hidden;
        background: url(../image/line.gif);
        .text{
            float: left;
            padding-left: 15px;
            width: 385px;
            height: 35px;
            line-height: 35px;
            font-size: 18px;
            font-weight: bold;
        }
        ul{
            float: left;
            li{
                float: left;
                width: 65px;
                height: 35px;
                line-height: 35px;
                font-weight: bold;
                cursor: pointer;
                text-align: center;
            }
            .select{
                color: #8A0003;
                background: url(../image/select.gif);
            }
        }
    }
    .map{
        float: left;
        width: 679px;
        height: 225px;
        overflow: hidden;
        text-align: center;
        line-height: 32px;
        font-size: 14px;
        background: url(../image/map.png) no-repeat;
        border-left: 1px solid #6B6B6B;
        .local{
            padding: 35px 0 25px 0;
            font-size: 20px;
            font-weight: bold;
        }
    }
    .shop{
        float: left;
        width: 500px;
        height: 225px;
        overflow: hidden;
    }
}
.cityline{
    clear: both;
    margin: 0 auto;
    width: 1180px;
    height: 30px;
    background: url(../image/linebg.jpg);
}
.security{
    margin: 0 auto;
    width: 100%;
    height: 85px;
    background: #FFFFFF url(../image/security.jpg) center center no-repeat;
}
.shouhou{
    margin: 0 auto;
    padding: 15px 0;
    width: 100%;
    height: 130px;
    border-top: 1px solid #CCCCCC;
    background: #E9E9E9;
    .main{
        margin: 0 auto;
        width: 1178px;
        height: 130px;
        border-left: 1px solid #CCCCCC;
        border-right: 1px solid #CCCCCC;
        background: url(../image/shouhou.png) no-repeat;
        li{
            float: left;
            width: 195px;
            height: 130px;
            border-right: 1px solid #CCCCCC;
            div{
                float: left;
                padding-left: 50px;
                padding-top: 15px;
                span{
                    float: left;
                    width: 145px;
                    font-weight: bold;
                    line-height: 30px;
                }
                a{
                    float: left;
                    width: 145px;
                    line-height: 24px;
                    color: #555555;
                    &:hover{
                        color:#DB3962;
                    }
                }
            }
        }
    }
}
.foot1{
    margin: 0 auto;
    padding: 15px 0;
    width: 100%;
    height: 66px;
    background: #333333;
    .foot1cen{
        margin: 0 auto;
        padding: 0 5px;
        width: 1170px;
        height: 80px;
        color: #B9B9B9;
        .foot1left{
            float: left;
            width: 1000px;
            .address{
                width: 1000px;
                height: 35px;
                line-height: 35px;
            }
            .copyright{
                width: 1000px;
                height: 30px;
                line-height: 30px;
            }
        }
        .foot1right{
            float: left;
            width: 170px;
            text-align: right;
            div{
                width: 170px;
                height: 35px;
                line-height: 35px;
            }
        }
    }
}
.foot2{
    margin: 0 auto;
    padding: 15px 0;
    width: 100%;
    height: 53px;
    .foot2cen{
        margin: 0 auto;
        width: 1180px;
        height: 53px;
        background: url(../image/footicon.gif);
        overflow: hidden;
        a{
            margin-right: 23px;
            float: left;
            width: 123px;
            height: 53px;
        }
    }
}
.foot3{
    margin: 0 auto;
    padding: 15px 0;
    width: 100%;
    height: 105px;
    border-top: 1px solid #CCCCCC;
    color: #999999;
    background: #F0F0F0;
    .foot3cen{
        margin: 0 auto;
        padding: 0 5px;
        width: 1170px;
        height: 80px;
        line-height: 25px;
        .foot3left{
            float: left;
            width: 70px;
            font-weight: bold;
        }
        .foot3right{
            float: left;
            width: 1100px;
            a{
                margin-right: 8px;
                white-space: nowrap;
                color: #888888;
                &:hover{
                    color:#DB3962;
                }
            }
        }
    }
    .link{
        margin: 0 auto;
        padding: 0 5px;
        width: 1170px;
        height: 25px;
        line-height: 25px;
        text-align: right;
    }
}
.space{
        float: left;
        margin-top: 3px;
        margin-left: 150px;
        width: 200px;
        height: 18px;
        color: #DB3962;
                }
.main{
    width: 100%;
    height: 588px;
    background: #FBEDEC url(../image/login.jpg) no-repeat center center;
    .maincen{
        margin: 0 auto;
        width: 1180px;
        height:588px;
        .mainright{
                float: right;
                width: 518px;
                height: 588px;
                .main1{
                        float: left;
                        margin-top: 112px;
                        width: 385px;
                        height: 25px;
                        font-size: 14px;
                        text-align: right;
                        a{
                                color: #DB3962;
                        }
                }
                form{
                    width:400px;
                }
                .user{
                    float: left;
                    margin-top: 41px;
                    margin-left: 150px;
                    width: 150px;
                     padding: 1px 3px;
                    border: none;
                    height: 28px;
                    line-height: 28px;
                    font-size: 13px;
                    outline: none;
                }
                
                .pwd{
                    float: left;
                    margin-top: 3px;
                    margin-left: 150px;
                    width: 150px;
                     padding: 1px 3px;
                    border: none;
                    height: 28px;
                    line-height: 28px;
                    font-size: 13px;
                    outline: none;
                }
                .chec{
                    float: left;
                    margin-left: 60px;
                    width: 13px;
                    height: 13px;
                    margin-top:5px;
                    margin-right:3px;
                }
                .auto{
                    float: left;
                    width: 192px;
                    height: 24px;
                    font-size: 14px;
                }
                .forg{
                    float: left;
                    width: 70px;
                    height: 24px;
                    font-size: 14px;
                }
                .but{
                    float: left;
                    margin-left: 60px;
                    width: 321px;
                    height: 41px;
                    background: url(../image/but.png) no-repeat;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    margin-top:10px;
                }
                .qqbao{
                    float: left;
                    margin-left: 49px;
                    margin-top: 48px;
                    width: 330px;
                    height: 75px;
                    text-align: center;
                    img{
                        margin: 0 9px;
                    }
                    a:nth-of-type(1) img{
                        margin: 0 9px 12px 9px;
                    }
                    
                }
            }
            
        }
    }

.regmain{
    width: 100%;
    height: 606px;
    background: #FBEDEC url(../image/reg.jpg) no-repeat center center;
    .regcen{
            margin: 0 auto;
            width: 1180px;
            height: 606px;
            .regright{
                float: right;
                width: 518px;
                height: 606px;
                .reghead{
                    float: left;
                    margin-top: 70px;
                    width: 385px;
                    height: 25px;
                    font-size: 14px;
                    text-align: right;
                    a{
                        color: #DB3962;
                    }
                }
                form{
                    width:400px;
                    height:500px;
                    .phone{
                        float: left;
                        margin-top: 42px;
                        margin-left:150px;
                        width: 150px;
                        padding: 1px 3px;
                        border: none;
                        height: 28px;
                        line-height: 28px;
                        font-size: 14px;
                        outline: none;
                    }
                    .yanzheng{
                        float: left;
                        margin-top: 3px;
                        margin-left: 150px;
                        width: 80px;
                        padding: 1px 3px;
                        border: none;
                        height: 28px;
                        line-height: 28px;
                        font-size: 14px;
                        outline: none;
                    }
                    .duanxin{
                            float: left;
                            margin-top: 5px;
                            margin-left: 150px;
                            width: 71px;
                            padding: 1px 3px;
                            border: none;
                            height: 28px;
                            line-height: 28px;
                            font-size: 14px;
                            outline: none;
                    }
                    .numimg{
                            float: left;
                            width: 60px;
                            height: 30px;
                            line-height: 30px;
                            font-size: 13px;
                            text-align: center;
                            cursor: pointer;
                            margin-left:3px;
                            margin-top:3px;
                            
                    }
                    .nextnum{
                        float:left;
                        width:38px;
                        height:25px;
                        color:#DB3962;
                        margin-left:5px;
                        margin-top:8px;
                        background: #FBFBFB;
                    }
                    .getnum{
                        float: left;
                        width: 100px;
                        height: 30px;
                        line-height: 30px;
                        font-size: 13px;
                        text-align: left;
                        margin-left:22px;
                        margin-top:3px;
                        &:hover{
                            color:#222222;
                        }
                    }
                    .mima{
                        float: left;
                        margin-top: 3px;
                        margin-left: 150px;
                        width: 150px;
                        padding: 1px 3px;
                        border: none;
                        height: 28px;
                        line-height: 28px;
                        font-size: 13px;
                        outline: none;
                    }
                    .mima2{
                            float: left;
                            margin-top: 3px;
                            margin-left: 150px;
                            width: 150px;
                            padding: 1px 3px;
                            border: none;
                            height: 28px;
                            line-height: 28px;
                            font-size: 13px;
                            outline: none;
                    }
                    .xieyi{
                            float: left;
                            margin-left: 60px;
                            width: 13px;
                            height: 13px;
                            margin-top:3px;
                            margin-right:2px;
                    }
                    .xieyiinfo{
                        float: left;
                    }
                    .sub{
                    float: left;
                    margin-left: 60px;
                    width: 321px;
                    height: 41px;
                    background: url(../image/but.png) no-repeat;
                    cursor: pointer;
                    outline: none;
                    border: none;
                    margin-top:-6px;
                    }
                }
                .qqwei{
                    float: left;
                    margin-left: 42px;
                    margin-top: 13px;
                    width: 330px;
                    height: 75px;
                    text-align: center;
                    img{
                        margin: 0 9px;
                    }
                    a:nth-of-type(1) img{
                        margin: 0 9px 12px 9px;
                    }
                }
            }
    }
}
.kefu{
    width: 64px;
    position: fixed;
    right: 5px;
    bottom: 100px;
    z-index: 30;
    margin:12px 0;
    padding-left:40px;
    a{
        width: 64px;
        height: 54px;
        background: #c11e20;
        margin-top: 2px;
        position: relative;
        display: block;
        color:#fff;
        text-align: center;
        padding-top:10px;
        &:hover{
            color:#ffffff;
            background: #D0383A;
        }
        img{
                display: block;
                margin: 0 auto;
        }
        p{
            margin-top:8px;
        }
    }
    .ewm{
        position: absolute;
        left: -154px;
        top: -40px;
        display:none;
        border: 1px solid transparent;
    }
    .fewm:hover{
         .ewm{
              display: block;
         }        
    }
}

.bigsec{
    clear: both;
    width: 100%;
    height: 195px;
    background: #F3F3F3;
    .bigcen{
            margin: 0 auto;
            width: 1180px;
             height: 195px;
            overflow: hidden;
    }
}
.listmain{
    clear: both;
    margin: 0 auto;
    padding-left: 10px;
    width: 1170px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}
.seccen{
    clear: both;
    margin: 0 auto;
    width: 1180px;
    background: #FFFFFF;
    overflow: hidden;
    .secleft{
        float: left;
        width: 242px;
        overflow: hidden;
        .secleft1{
            float: left;
            width: 240px;
            border: 1px solid #CECECE;
            overflow: hidden;
            h4{
                    float: left;
                    width: 240px;
                    height: 35px;
                    line-height: 35px;
                    background: url(../image/headbg.jpg);
                    text-indent: 10px;
                    overflow: hidden;
                    font-weight: bold;
            }
            .manyc{
                    float: left;
                    margin: 0;
                    padding: 15px 19px 0px 19px;
                    width: 202px;
                    p{
                        float: left;
                        width: 202px;
                        height: 35px;
                        line-height: 20px;
                        font-weight: bold;
                        font-size: 14px;
                        span{
                                padding: 0 9px;
                                background: url(../image/jia.png) no-repeat 0 1px;
                        }
                        .fshowl{
                            padding: 0 9px;
                            background: url(../image/jian.png) no-repeat 0 1px;
                        }
                        .ccr{
                            color:red;
                            font-weight: 600;
                        }
                        
                    }
                    

            }
            .pig{
                        padding-top:0px;
                    }
            ul{
                    float: left;
                    margin-bottom: 15px;
                    padding: 5px 0;
                    width: 202px;
                    line-height: 30px;
                 border-top: 1px dashed #D1D1D1;
                     border-bottom: 1px dashed #D1D1D1;
                    background: #FAFAFA;
                    li{
                            float: left;
                            padding-left: 21px;
                            width: 80px;
                    }
            }
            
        }
        .secleft2{
                margin-top: 20px;
                width: 240px;
                border: 1px solid #CECECE;
                overflow: hidden;
                float: left;
                h4{
                        float: left;
                        margin: 0;
                        padding: 0;
                        width: 240px;
                        height: 35px;
                        line-height: 35px;
                        background: url(../image/headbg.jpg);
                        text-indent: 10px;
                        overflow: hidden;
                        font-weight: bold;
                }
                .manyi{
                        float: left;
                        padding: 19px 19px 6px 19px;
                        width: 202px;
                        .mimg{
                                float: left;
                                width: 200px;
                                height: 200px;
                                img{
                                    width: 200px;
                                    height: 200px;
                                    border: 1px solid #D2D2D2;
                                }
                        }
                        h5{
                                float: left;
                                width: 202px;
                                height: 40px;
                                line-height: 40px;
                                text-align: center;
                                overflow: hidden;
                                font-weight: 100;
                        }
                        p{
                            float: left;
                            width: 202px;
                            height: 35px;
                            text-align: center;
                            overflow: hidden;
                            span{
                                    font-size: 14px;
                                    color: #DB3962;
                            }
                        }
                }
                .cat{
                    padding-top:0px;
                }
        }
        .secleft3{
                float: left;
                margin-top: 10px;
                    padding: 0;
                    width: 242px;
                    overflow: hidden;
                .manyg{
                        float: left;
                        margin-top: 10px;
                        width: 240px;
                        border: 1px solid #D2D2D2;
                }
        }
    }
    
    .secright{
        float: right;
        width: 922px;
        .secright1{
            float: left;
            padding: 10px 0;
            width: 920px;
                border: 1px solid #CECECE;
                background: #F8F8F8;
            overflow: hidden;
            .selectwrap{
                    clear: both;
                    margin: 0 auto;
                    width: 900px;
                    height: 40px;
                    border-bottom: 1px dashed #CECECE;
                    .wraphead{
                        float: left;
                        padding-left: 10px;
                        width: 50px;
                        height: 40px;
                        line-height: 40px;
                        color: #DB3962;
                    }
                    .wrapitem{
                            float: left;
                            height: 40px;
                            line-height: 40px;
                            .span{
                                    float: left;
                                    padding: 0 15px;
                            }
                            .w030{
                                    float: left;
                                    width: 30px;
                            }
                            .w055{
                                    float: left;
                                    width: 60px;
                            }
                            .w250{    float: left;
                            width: 250px;} 
                            .w040{
                                    float: left;
                                    width:64px;
                            } 

                    }
            }
            
        }
        .secright2{
                float: left;
                margin-top: 20px;
                padding: 0;
                width: 920px;
                height: 33px;
                line-height: 33px;
                border: 1px solid #CECECE;
                background: url(../image/headbg.jpg);
                overflow: hidden;
                .headeritem{
                        float: left;
                        width: 70px;
                        height: 35px;
                        text-align: center;
                }
                .headerline{
                    float: left;
                    width: 12px;
                    height: 35px;
                    background: url(../image/linebg.png);
                }
        }
        .secright3{
            float: left;
            margin-top: 20px;
            padding: 0;
            width: 921px;
            border-top: 1px solid #CECECE;
            border-left: 1px solid #CECECE;
            overflow: hidden;
            .mitem{
                float: left;
                width: 306px;
                height: 290px;
                border-right: 1px solid #CECECE;
                border-bottom: 1px solid #CECECE;
                overflow: hidden;
                .itemimg{
                        margin: 0 auto;
                        width: 200px;
                        height: 210px;
                        img{
                                width: 200px;
                                height: 200px;
                                border: none;
                                margin: 10px;
                        }
                }
                .itemname{
                        float: left;
                        width: 306px;
                        height: 40px;
                        line-height: 30px;
                        font-size: 14px;
                            text-align: center;
                        overflow: hidden;
                }
                .itemprice{
                    float: left;
                    width: 306px;
                    height: 40px;
                    background: #F8F8F8;
                    overflow: hidden;
                    .pricemarket{
                            float: left;
                        padding-left: 13px;
                        width: 140px;
                        height: 40px;
                        line-height: 40px;
                    }
                    .pricemember{
                        float: right;
                        padding-right: 13px;
                        width: 140px;
                        height: 40px;
                        line-height: 40px;
                        text-align: right;
                    }
                }
            }
        }
    }
}

.deline{
    clear: both;
    height:0;
}
.de{
    background: #f1f1f1;
    .demain{
        width:1180px;
        margin:0 auto;
        .de1{
                height: 50px;
                line-height: 50px;
                text-indent: 15px;
        }
        .de2{
                width: 1178px;
                height:641px;
                border: 1px solid #D2D2D2;
                background: #FFFFFF;
                .itemline{

                        width: 1178px;
                        height: 15px;
                        border-top: 2px solid #FFC0C1;
                }
        #box {
            float: left;
            position:relative;
            width: 450px;
            height:534px;
            padding: 15px 25px;
            border-right:1px solid #D2D2D2;
        }
        #box ul{
            overflow: hidden;
          /*  border-top:1px solid #ccc;*/
            position:absolute;
            top:420px;
            left:0;
            width:420px;
        }
        #box li {
            float: left;     
            border-top:none;
        }
        .small{
            width:420px;
            height:420px;   
            background: red; 
        }
        .small img{
            position:absolute;
            top:0;
            left:0;
             width:420px;
            height:420px; 
        }
        #bottom{
            margin:32px 0 0 50px;
        }
        #bottom li{
            width:95px;
            height:98px;
            margin-top:5px;
            img{
                width:90px;
                height: 90px;
            }
        }
        #big{
                width:422px;
                height:422px;
                border:1px solid #ccc;
                overflow:hidden;
                position:absolute;
                top:12px;
                left:465px;
                display:none;
            }
        #mask{
                width:247px;
                height:247px;
                background:#999999;
                opacity:0.5;
                /*background: url(images/4m.jpg);*/
                position:absolute;
                top:0;
                left:0;
                display:none;
            }
        .bigImage{
                position:absolute;
                top:0;
                left:0;
            }
        #small{
                position:relative;
                cursor:move;  //鼠标移动状态
            }
            
            .right{
                    float: right;
                    padding: 15px 5px;
                    width: 600px;
                    height:579px;
                    .right1{
                        float: left;
                        width: 530px;
                        .rtext1{
                                float: left;
                        width: 100px;
                        line-height: 38px;
                        text-align: right;
                        overflow: hidden;
                        }
                        .rtext2{
                                font-size: 13px;
                                float: left;
                                width: 430px;
                                line-height: 38px;
                        }
                        #itemmarket{
                            text-decoration: line-through;
                            color:#666666;
                            font-size: 14px;
                        }
                        #itemprice{
                            color:#DB3962;
                            font-weight: 600;
                        }
                        .materiaselect{
                            padding: 5px 10px;
                            background: #DB3962;
                            color: #FFFFFF;
                            margin-right: 8px;
                            cursor: pointer;
                        }
                        .materia{
                            padding: 5px 10px;
                            background: #CCCCCC;
                            margin-right: 8px;
                            cursor: pointer;
                        }
                        .diamond{
                            color:#DB3962;
                        }
                        #carveword{
                            padding: 2px;
                            width: 80px;
                            height: 17px;
                            margin-right: 10px;
                            border: 1px solid #CCCCCC;
                            outline: none;
                        }
                    }
                    .info{
                        float: left;
                        margin-top: 10px;
                        margin-left: 40px;
                        padding-top: 10px;
                        width: 450px;
                        border-top: 1px dashed #D2D2D2;
                        .button{
                            float: left;
                            width: 450px;
                            height: 60px;
                            overflow: hidden;
                            .addtocart_zuan{
                                    float: left;
                                    margin-top: 12px;
                                     margin-right: 12px;
                                    background: url(../image/addtocart_zuan.png) no-repeat;
                                    width: 227px;
                                    height: 42px;
                                    line-height: 42px;
                                    cursor: pointer;
                            }
                            .addtofavor{
                                float: left;
                                margin-top: 12px;
                                     margin-right: 12px;
                                background: url(../image/addtofavor.png) no-repeat;
                                width: 126px;
                                height: 42px;
                                    line-height: 42px;
                                cursor: pointer;
                            }
                        }
                    }
                    
            }
                            
        }
        
        
        
        
        
        .de3{
            width:1180px;
            float: left;
            padding-top:18px;
            .de3left{
                    float: left;
                    width: 242px;
                    height:1865px;
                    .de3hleft{
                            float: left;
                            width: 240px;
                            height: 35px;
                            line-height: 35px;
                            text-indent: 10px;
                            font-weight: bold;
                            border: 1px solid #D2D2D2;
                            background: url(../image/listbg.gif);
                            color: #DB3962;
                    }
                    .de3mleft{
                            float: left;
                            width: 240px;
                            height: 231px;
                            border-left: 1px solid #D2D2D2;
                            border-right: 1px solid #D2D2D2;
                            border-bottom: 1px solid #D2D2D2;
                    }
                    .de3fleft{
                        float: left;
                        margin-top: 20px;
                        width: 240px;
                        height: 35px;
                        line-height: 35px;
                        text-indent: 10px;
                        font-weight: bold;
                        border: 1px solid #D2D2D2;
                        background: url(../image/listbg.gif);
                    }
                    ul{
                            float: left;
                            width: 240px;
                            border-left: 1px solid #D2D2D2;
                            border-right: 1px solid #D2D2D2;
                            li{
                                float: left;
                                padding: 5px 0;
                                width: 240px;
                                height: 237px;
                                text-align: center;
                                background: #FFFFFF;
                                img{
                                    width: 200px;
                                    height: 200px;
                                    border: none;
                                }
                                p{
                                        float: left;
                                    width: 240px;
                                    height: 36px;
                                    line-height: 30px;
                                    text-align: center;
                                        border-bottom: 1px solid #D2D2D2;

                                    background: #FFFFFF;
                                        overflow: hidden;
                                }
                            }
                    }
                }
            .de3right{
                float: right;
                width:910px;    
                border: 1px solid #D2D2D2;
                background: #FFFFFF;
                .de3hright{
                        float: left;
                        width: 910px;
                        height: 35px;
                    line-height: 35px;
                    text-align: center;
                        font-weight: bold;
                        border-bottom: 1px solid #D2D2D2;
                        background: url(../image/listbg.gif);
                        .de3hright1{
                                float: left;
                            width: 100px;
                            height: 35px;
                            line-height: 35px;
                            border-right: 1px solid #D2D2D2;
                            cursor: pointer;
                        }
                        .de3hright2{
                            float: left;
                            width: 100px;
                                height: 35px;
                                line-height: 35px;
                            border-right: 1px solid #D2D2D2;
                            cursor: pointer;
                        }
                        .de3hright3{
                                float: left;
                                width: 100px;
                                height: 35px;
                                line-height: 35px;
                                    border-right: 1px solid #D2D2D2;
                                cursor: pointer;
                        }
                }
                .de3mright{
                    float: left;
                    width: 712px;
                        text-align: center;
                        padding: 20px 45px 0 80px;
                    clear: both;
                    img{
                        min-width: 712px;
                        padding: 20px;
                    }
                }
                .de3fright{
                        float: left;
                        width: 712px;
                        text-align: left;
                        padding: 20px 98px;
                        line-height: 24px;
                        height: auto;
                        
                        strong{                                
                                float: left;
                                width: 712px;
                                 clear: both;
                                border-bottom: 1px solid #ddd;
                                margin-bottom: 12px;
                                padding: 20px 0 12px 0;
                                background: url(../image/logobg.gif) no-repeat 0 20px;
                                    text-indent: 28px;
                                font-size: 14px;
                        }
                         .productpack p {
                            float: right;
                            width: 290px;
                            text-indent: 24px;
                            padding: 25px 20px 0 0;}
                         .productsend p{
                                 float: left;
                            width: 274px;
                            margin: 40px 0 0 47px;
                                text-indent: 24px;
                         }
                          p{
                                 float: left;
                                    text-indent: 24px;
                                    clear: both;
                                width: 712px;
                         }
                        .productpack{
                                float: left;
                                width: 700px;
                                height: 290px;
                                background: url(../image/cpt8.jpg) no-repeat;
                                margin: 20px 0 0 0;
                        }
                        .productsend {
                            float: left;
                            width: 700px;
                            height: 280px;
                            background: url(../image/cpt9.jpg) no-repeat;
                            margin-top: 10px;
                         }
                }   
            }
            
        }      
    }
}
